{% load static %}
<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="UTF-8">
    <title>BookStore - Đổi mật khẩu</title>

    
    <link rel="stylesheet" href="{% static 'base/header.css' %}">
    <link rel="stylesheet" href="{% static 'base/footer.css' %}">

    
    <link rel="stylesheet" href="{% static 'user/login.css' %}">
</head>
<body>

<!-- HEADER -->
{% include "base/header.html" %}

<!-- MAIN -->
<main class="main-content">

    <div class="login-wrapper">
        <div class="login-box">

            <h2 class="title">Đổi mật khẩu</h2>

            {% if messages %}
                {% for message in messages %}
                    <div class="alert {{ message.tags }}">
                        {{ message }}
                    </div>
                {% endfor %}
            {% endif %}

            <form method="POST">
                {% csrf_token %}

                <div class="form-group">
                    <label>Mật khẩu hiện tại</label>
                    <input type="password"
                        name="old_password"
                        required>
                </div>

                <div class="form-group">
                    <label>Mật khẩu mới</label>
                    <input type="password"
                        name="new_password"
                        required>
                </div>

                <div class="form-group">
                    <label>Xác nhận mật khẩu mới</label>
                    <input type="password"
                        name="confirm_password"
                        required>
                </div>

                <button type="submit" class="btn-login">
                    Đổi mật khẩu
                </button>
            </form>

            <div class="register">
                <a href="{% url 'home:home' %}">
                    ← Quay về trang chủ
                </a>
            </div>

        </div>
    </div>

</main>

<!-- FOOTER -->
{% include "base/footer.html" %}

</body>
</html>
